# Build artifacts
target/
**/*.pdb
**/*.dll
**/*.exe
**/*.lib
**/*.a
**/*.obj
**/*.o

# Rust
Cargo.lock

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
